.flex-container {
    display: flex;
    justify-content: space-between;
}

.am {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.am p {
    margin: 0;
}

.ps {
    color: rgb(58, 58, 58);
    text-align: right; 
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.box h1 {
    font-size: 30px;
}

.H {
    color: rgb(0, 140, 255);
    text-transform: capitalize;
}

.box img {
    align-self: flex-start;
    border-radius: 10%;
    object-fit: cover;
}

.nom {
    display: flex;
    flex-direction: row;
}

.t {
    margin-left: 5px;
    margin-bottom: 10px;
}

.am {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.am p {
    margin: 0;
}

.ps {
    color: rgb(58, 58, 58);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
